<div class="gallows">
  <div class="gallows__head fail-1" ng-class="{'active': vm.fails > 0}"></div>
  <div class="gallows__trunk fail-2" ng-class="{'active': vm.fails > 1}"></div>
  <div class="gallows__hand-left fail-3" ng-class="{'active': vm.fails > 2}"></div>
  <div class="gallows__hand-right fail-4" ng-class="{'active': vm.fails > 3}"></div>
  <div class="gallows__leg-left fail-5" ng-class="{'active': vm.fails > 4}"></div>
  <div class="gallows__leg-right fail-6" ng-class="{'active': vm.fails > 5}"></div>
</div>
