<div class="container">
  <header class="page-header">
    <h1>Hangman</h1>
  </header>
  <main class="login">
    <p>Enter your nickname and press play.</p>
    <div class="form-group">
      <input type="text" class="text" ng-model="loginCtrl.nick">
    </div>
    <button ng-click="loginCtrl.login(loginCtrl.nick)" type="submit" class="btn btn-default">Play</button>
  </main>
</div>
