$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

.header {
  margin-bottom: 50px;
}

.gallows {
  position: relative;
  width: 300px;
  height: 320px;
  margin-bottom: 20px;
  border-left: 3px solid #000;
  & > * {
    display: none;
  }
  & > .active {
    display: block;
  }
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 50%;
    height: 3px;
    background: #000;
  }
  &:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 3px;
    height: 50px;
    background: #000;
  }
  &__head {
    position: absolute;
    top: 30px;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-left: -20px;
    transform: scale(1, 1.2);
    background: #000;
    border-radius: 50%;
  }
  &__trunk {
    position: absolute;
    width: 70px;
    height: 140px;
    top: 76px;
    left: 50%;
    margin-left: -35px;
    background: #000;
  }
  &__hand-left {
    position: absolute;
    top: 76px;
    left: 95px;
    width: 15px;
    height: 120px;
    background: #000;
  }
  &__hand-right {
    position: absolute;
    top: 76px;
    right: 95px;
    width: 15px;
    height: 120px;
    background: #000;
  }
  &__leg-left {
    position: absolute;
    top: 220px;
    left: 115px;
    width: 20px;
    height: 120px;
    background: #000;
  }
  &__leg-right {
    position: absolute;
    top: 220px;
    right: 115px;
    width: 20px;
    height: 120px;
    background: #000;
  }
}

.sidebar {
}

.word {
  margin-bottom: 20px;
  text-align: center;
  &__letter {
    display: inline-block;
    width: 1em;
    height: 40px;
    margin: 0 5px;
    vertical-align: middle;
    text-align: center;
    font-size: 32px;
    border-bottom: 2px solid #000;
    text-transform: uppercase;
  }
}

.used {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.letter-form {
  width: 100%;
  &__input {
    display: block;
    width: 100%;
    padding: 15px 30px;
    font-size: 20px;
  }
}

.modal button.close {
  display: none!important;
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
