<div class="container">
  <header class="page-header">
    <h1>Hangman</h1>
  </header>
  <main class="board col-md-9">
    <word word="boardCtrl.word"></word>
    <gallows fails="boardCtrl.fails"></gallows>
    <div class="panel panel-default">
      <div class="panel-heading">Used letters</div>
      <div class="panel-body used">{{boardCtrl.usedLetters}}</div>
    </div>
    <form ng-submit="boardCtrl.check(boardCtrl.input)" class="letter-form">
      <input
        ng-model="boardCtrl.input"
        type="text"
        autofocus
        class="letter-form__input"
        placeholder="Type word or letter and press enter">
    </form>
  </main>
  <aside class="sidebar col-md-3">
    <h2 ng-click="boardCtrl.add()">Leaders</h2>
    <leaders list="boardCtrl.leadersList"></leaders>
    <h2>Players online</h2>
    <players list="boardCtrl.playersList">
    </players>
  </aside>
</div>
