<div class="container">
  <header class="page-header">
    <h1>Hangman</h1>
  </header>
  <main>
    <h2>Game over!</h2>
    <p>You earned {{gameOverCtrl.points}} points.<p>
    <button ng-click="gameOverCtrl.again()" class="btn btn-primary">Try again</button>
  </main>
</div>
